<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <p>Pagina de Perfil</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-card>
    <ion-img src="../../assets/img/IMG-20210731-WA0007.jpg" alt="Foto de perfil Matheus"></ion-img>
    <ion-card-header>
      <ion-card-title>Nome: Matheus Bomfim Ferreira Fonseca</ion-card-title>
      <ion-card-subtitle>Matricula: 23203602</ion-card-subtitle>
      <ion-card-subtitle>Turma: ADS0301M</ion-card-subtitle>
      <ion-card-subtitle>Curso: Análise e Desenvolvimento de Sistemas</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</ion-content>